name: Build and Package

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: windows-latest
            os: windows
            arch: x64
          - runner: macos-latest
            os: macosx
            arch: x86_64
          - runner: macos-latest
            os: macosx
            arch: arm64
          - runner: ubuntu-latest
            os: linux
            arch: x86_64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true

      - name: Install dependencies
        if: ${{ matrix.os == 'linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libsoundio-dev

      - name: Setup LLVM
        if: ${{ matrix.os != 'windows' }}
        uses: ZhongRuoyu/setup-llvm@v0
        with:
          llvm-version: 21

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Configure xmake (Release, ${{ matrix.arch }})
        run: |
          xmake f -m release -a ${{ matrix.arch }} ${{ matrix.os == 'linux' && '--toolchain=clang' || '' }} -c -y

      - name: Build
        run: |
          xmake -v

      - name: Bundle assets and libraries
        if: ${{ matrix.os != 'macosx' }}
        run: |
          xmake install -o build/${{ matrix.os }}/${{ matrix.arch }}/release/

      - name: Clear up extra build files for MacOSX
        if: ${{ matrix.os == 'macosx' }}
        run: |
          rm build/${{ matrix.os }}/${{ matrix.arch }}/release/PeepoDrumKit

      - name: Observer build directories
        run: |
          pwd
          ls -l build/${{ matrix.os }}/${{ matrix.arch }}/release/${{ matrix.os != 'macosx' && 'bin/' || '' }}

      - name: Upload artifact (binary + assets)
        uses: actions/upload-artifact@v4
        with:
          name: peepodrumkit-${{ matrix.os }}-${{ matrix.arch }}
          path: |
            build/${{ matrix.os }}/${{ matrix.arch }}/release/${{ matrix.os != 'macosx' && 'bin/' || '' }}
            ${{ matrix.os == 'macosx' && format('build/{0}/{1}/release/PeepoDrumKit.app', matrix.os, matrix.arch) || '' }}
          if-no-files-found: error
